@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
}
#section-1 {
    width: clamp(528px, 728px, 928px);
    height: 80%;
    display: flex;
    padding: 1rem 1rem;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.2);
}
#section-2 {
    width: 30%;
    height: 63%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem 3.5rem; 
    border-radius: 25px;
    display: none;
}
#section-2 h1 {
    line-height: 3rem;
    margin-top: 1.5rem;
}
#section-2 p {
    line-height: 1.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
h1 {
    font-size: 2.8rem;
    color: hsl(234, 29%, 20%);
}
span {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 0.8rem;
    line-height: 1.1rem;
    color: hsl(235, 18%, 26%);
}
img {
    width: 60%;
    height: 60%;
}
#check-2 {
    width: 15%;
    height: 15%;
}
p {
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(235, 18%, 26%);
}
input {
    padding: 0.8rem 1rem;
    border-radius: 7px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 6px;
    color: hsl(235, 18%, 26%);
    font-weight: 700;
    transition: 0.2s all;
}
input::placeholder {
    color: hsl(231, 7%, 60%);
}
input:focus,
input:hover {
    border-color: hsl(235, 18%, 26%);
    transition: 0.2s all;
}
label {
    font-size: 0.70rem;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}
button {
    font-size: 0.8rem;
    font-weight: 700;
    color: #fff;
    padding: 0.9rem 0rem;
    background-color: hsl(234, 29%, 20%);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: rgb(255,83,119);
    background: linear-gradient(80deg, rgba(255,83,119,1) 0%, rgba(255,98,56,1) 100%);
    box-shadow: 0 5px 15px 0px hsl(4, 100%, 67%);
}
#error-label {
    color: hsl(4, 100%, 67%);
    display: none;
}
.text {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
    padding: 0rem 2rem;
    padding-right: 3rem;
}
.image {
    width: 45%;
    height: 100%;
    border-radius: 15px;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.check {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 22%;
    margin-top: 0.8rem;
}
.check-image {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
}
.check-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    height: 100%;
}
.email {
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: column;
}
.email-label {
    margin-top: 1.25rem;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 705px) {
    main {
        align-items: end;
    }
    h1 {
        font-size: 2.2rem;
    }
    span {
        font-size: 0.9rem;
        line-height: 1.25rem;
    }
    button {
        margin-top: 1.75rem;
    }
    #section-1 {
        width: 375px;
        height: 90%;
        justify-content: space-around;
        align-items: end;
        border-radius: 0px;
        padding: 0;
    }
    .text {
        padding: 1rem;
        width: 100%;
        height: 70%;
    }
    .image {
        position: absolute;
        top: 0;
        left: 50;
        width: 375px;
        height: 35%;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    }
    .check-text p {
        font-size: 0.9rem;
    }
    #section-2 {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 1.5rem;
        justify-content: end;
    }
    #section-2 h1 {
        line-height: 2.2rem;
    }
    #section-2 img {
        width: 60px;
        height: 60px;
    }
    #section-2 p {
        font-size: 0.98rem;
        line-height: 1.4rem;
        margin-bottom: 10rem;
    }
}